RITHMIC_USER=LT--XXXXXXX
RITHMIC_PASSWORD=XXXXXXXXX
RITHMIC_SERVER=Lucid Trading
RITHMIC_FCM=Lucid Trading
RITHMIC_IB=Lucid Trading
INSTRUMENT=NQM5
EXCHANGE=CME
BIG_TRADE_NQ=10
BIG_TRADE_ES=20
SIM_MODE=true